/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #29508a;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

li:last-child {
  border-bottom: none;
}

.profile-pic {
  
  width: 600px;
  height: 550px;
  border-radius: 50%;

  
}

/* App.css */
/* ... your existing styles ... */

/* Media Query for Small Screens (up to 600px) */
@media (max-width: 600px) {
  .container {
    max-width: 100%;
    padding: 10px;
    text-align: center;
  }

  /* Adjust profile picture size for small screens */
  .profile-pic {
    width: 300px;
    height: 300px;
    text-align: center;
  }
}

/* Media Query for Medium Screens (601px - 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  /* Adjust container max-width and font size for medium screens */
  .container {
    max-width: 800px;
    font-size: 16px;
  }
  .profile-pic {
    text-align: center;
  }
}

/* Media Query for Large Screens (1025px and above) */
@media (min-width: 1025px) {
  /* Adjust container max-width for large screens */
  .container {
    max-width: 1200px;
  }
  .profile-pic {
    text-align: center;
  }
}
